<div *ngIf="maskVisible" [class]="maskStyleClass" [ngClass]="{'p-scanner-mask': true, 'p-component-overlay p-component-overlay-enter': this.modal, 'p-scanner-mask-scrollblocker': this.modal || this.blockScroll,
    'p-scanner-left': position === 'left',
    'p-scanner-right': position === 'right',
    'p-scanner-top': position === 'top',
    'p-scanner-top-left': position === 'topleft' || position === 'top-left',
    'p-scanner-top-right': position === 'topright' || position === 'top-right',
    'p-scanner-bottom': position === 'bottom',
    'p-scanner-bottom-left': position === 'bottomleft' || position === 'bottom-left',
    'p-scanner-bottom-right': position === 'bottomright' || position === 'bottom-right'}">
    <div #container
        [ngClass]="{'p-scanner p-component':true, 'p-scanner-rtl':rtl,'p-scanner-draggable':draggable,'p-scanner-resizable':resizable, 'p-scanner-maximized': maximized}"
        [ngStyle]="style" [class]="styleClass" *ngIf="visible" pFocusTrap [pFocusTrapDisabled]="focusTrap === false"
        [@animation]="{value: 'visible', params: {transform: transformOptions, transition: transitionOptions}}"
        (@animation.start)="onAnimationStart($event)" (@animation.done)="onAnimationEnd($event)" role="scanner"
        [attr.aria-labelledby]="id + '-label'">
        <div #titlebar class="p-scanner-header" (mousedown)="initDrag($event)" *ngIf="showHeader">
            <span [attr.id]="id + '-label'" class="p-scanner-title f-18"
                *ngIf="!headerFacet && !headerTemplate">{{header}}</span>
            <span [attr.id]="id + '-label'" class="p-scanner-title" *ngIf="headerFacet">
                <ng-content select="p-header"></ng-content>
            </span>
            <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
            <div class="p-scanner-header-icons">
                <button *ngIf="maximizable" type="button"
                    [ngClass]="{'p-scanner-header-icon p-scanner-header-maximize p-link':true}" (click)="maximize()"
                    (keydown.enter)="maximize()" tabindex="-1" pRipple>
                    <span class="p-scanner-header-maximize-icon"
                        [ngClass]="maximized ? minimizeIcon : maximizeIcon"></span>
                </button>
                <button *ngIf="closable" class="close" type="button"
                    [ngClass]="{'p-scanner-header-icon p-scanner-header-close p-link':true}"
                    [attr.aria-label]="closeAriaLabel" (click)="close($event)" (keydown.enter)="close($event)"
                    [attr.tabindex]="closeTabindex" pRipple>
                    <span class="p-scanner-header-close-icon" [ngClass]="closeIcon"></span>
                </button>
            </div>
        </div>
        <div #content [ngClass]="'p-scanner-content'" [ngStyle]="contentStyle" [class]="contentStyleClass">
            <div>
                <p-dropdown [options]="camera" optionValue="codigo" optionLabel="nombre" class="w-100"
                    placeholder="seleccione la camara"></p-dropdown>

                <div class="row camera">contenido2</div>
            </div>
            <ng-content></ng-content>
            <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
        </div>
        <div #footer class="p-scanner-footer" *ngIf="footerFacet || footerTemplate">
            <div>
                pie
            </div>
            <ng-content select="p-footer"></ng-content>
            <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
        </div>
        <div *ngIf="resizable" class="p-resizable-handle" style="z-index: 90;" (mousedown)="initResize($event)"></div>
    </div>
</div>