.number-button {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
}

.button-calendar {
    height: 80px;
    border-radius: 15px;
    width: 100px;
}

.button-calendar:not(:first-child) {
    margin-left: 16px;
}

.day-button {
    font-weight: 400;
}

.panel-calendar {
    overflow-x: auto;
    width: 88vw;
    max-height: 140px;
    padding: 16px;
    display: block;
    overflow-y: hidden;
}

.buttoms {
    width: 1050px;
}

.date {
    font-weight: 700;
    font-size: 18px;
}

p-header {
    font-size: 12px;
    position: absolute;
    height: 23px;
    margin-left: -5px;
    width: 96% !important;
}

.bar{
    background-color: #CCC;
    height: 12px;
    width: 80%;
    border-radius: 15px;
    margin-top: 5px;
}

.progress {
    background-color: red;
    width: 20%;
    height: 12px;
}

.content-bar label {
    font-size: 9px !important;
    width: 5%;
    margin: 0px;
    color: black !important;
}

.content-bar {
    display: flex;
}

.result {
    font-weight: 800;
}

.separator {
    border-right: solid 1px #D6001C;;
}
